<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ebc39e">  <td>18/09/29 18:39:48</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testCasePages.CreateLeaf@18eed359]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>18/09/29 18:38:55</td>   <td>-52350</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testCasePages.CreateLeaf@18eed359]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>18/09/29 18:38:55</td>   <td>-52537</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testCasePages.CreateLeaf@18eed359]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>18/09/29 18:39:16</td>   <td>-31807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testCasePages.CreateLeaf@18eed359]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>18/09/29 18:39:31</td>   <td>-16889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testCasePages.CreateLeaf@18eed359]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>18/09/29 18:39:45</td>   <td>-2433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testCasePages.CreateLeaf@18eed359]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/09/29 18:39:03</td>   <td>-44856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeaf.createLeaf(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCasePages.CreateLeaf@18eed359]">createLeaf</td> 
  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/09/29 18:39:23</td>   <td>-24818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeaf.createLeaf(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCasePages.CreateLeaf@18eed359]">createLeaf</td> 
  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/09/29 18:39:38</td>   <td>-9968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeaf.createLeaf(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCasePages.CreateLeaf@18eed359]">createLeaf</td> 
  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>18/09/29 18:38:56</td>   <td>-51804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String)[pri:0, instance:testCasePages.CreateLeaf@18eed359]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>18/09/29 18:39:18</td>   <td>-29666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String)[pri:0, instance:testCasePages.CreateLeaf@18eed359]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>18/09/29 18:39:33</td>   <td>-14493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String)[pri:0, instance:testCasePages.CreateLeaf@18eed359]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/09/29 18:38:55</td>   <td>-52365</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLeaf.setdata()[pri:0, instance:testCasePages.CreateLeaf@18eed359]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11003494</td>   <td></td> </tr>
</table>
